- if (standards.length > 0)
	.directory-items
		strong.search-title
			script.
				function createDates(date){
					var parts = [];
					parts = date.split("-");
					var dt = new Date(parseInt(parts[0], 10),
														parseInt(parts[1], 10) - 1,
														parseInt(parts[2], 10));
					return dt
				}
				var origin = location.origin,
					current = window.location.href,
					search = current.split(origin + "/", 2)[1];
				if (search.indexOf('%20') >= 0) {
					$('.search-title').html('Search Results for: ' + search.split('%20').join(' '))
				} else {
					$('.search-title').html('Search Results for: ' + search.split('_').join(' '))
				}
		.filters
			- if (standards.length > 1)
				strong Sort  
				select#sortby.dropdown
					option(value='updated', selected='selected') Updated in Directory
					option(value='new') Newest
					option(value='old') Oldest
					option(value='consumers') Most Published
	.directory-standards
		each item in standards
			.standard-container
				.standard
					.standard-header
						.standard-name
							strong #{item.name}
							i#copy-link.fa.fa-link
							.copy-link(value="#{item.name}")
								script.
									$('.copy-link').each(function(){
										var name = $(this).attr('value');
										$(this).prop('title', location.origin + '/'  + name);
										clickLink(location.origin + '/'  + name, $(this).siblings('#copy-link'));
									});
							solid.standard-category(value='#{item.category}', style='border-color: black; font-weight: bold') #{item.category}
							- each sub in item.subcategory
								solid.standard-category(value='#{sub}') #{sub}
									script.
										$('.standard-category').on('click', function () {
											window.location.href = location.origin + '/' + $(this).attr('value')
										});
							#publisher
								| #{item.publisher}
						.standard-info
							.metrics
								include metrics
								a(href='/glossary#glossary-metrics' target='_blank').very-small
									i.fa.fa-question(title='About metrics')
							strong.standard-items
								// the original values from database are in form M/D/YYYY
								#updated(value="#{item.updated}")
								#added(value="#{item.recorded}")
								#version(value="#{item.version}")
									| | Version: #{item.version}
						.standard-description #{item.description}
						- if (standards.length > 1)
							a.hide-show
								i.fa.fa-plus-circle
								|  Details        
						.standard-body
							ul
								li
									strong License: 
									| #{item.license}
								li#publisher_reputation(value="#{item.publisher_reputation}")
									strong About the Publisher: 
									| #{item.publisher_reputation}
								li#updatedFull(value="#{item.updated}")
									// <date updated> is formatted in script
									|	Updated by Publisher: #{item.updated}
								li#consumers(value="#{item.consumers}")
									strong Level of Use: 
									| #{item.consumers}
								li
									strong Open License: 
									| #{item.open}
								li#transferability(value="#{item.transferability_rationale}")
									strong Transferable to other Jurisdictions: 
									| #{item.transferability_rationale}
								li#participation(value="#{item.stakeholder_participation_rationale}")
									strong Stakeholder Participation: 
									| #{item.stakeholder_participation_rationale}
								li#governance(value="#{item.consensus_government_rationale}")
									strong Consensus-based Governance: 
									| #{item.consensus_government_rationale}
								li#extensions(value="#{item.extensions_indicators}")
									strong Extensions: 
									| #{item.extensions_indicators}
								li#machine(value="#{item.machine_readable_rationale}")
									strong Machine Readable: 
									| #{item.machine_readable_rationale}
								li#human(value="#{item.human_readable_rationale}")
									strong Human Readable: 
									| #{item.human_readable_rationale}
								li#realtime(value="#{item.requires_realtime_rationale}")
									strong Requires Real-Time Data: 
									| #{item.requires_realtime_rationale}
								li#metadata(value="#{item.metadata_rationale}")
									strong Metadata: 
									| #{item.metadata_rationale}
							#providers(value="#{item.provider_list}" count=0)
								strong Data Providers:
								br
								#provider-list
								a(href='./contribute/update?#{item.name}', target='_blank')
									| Don't see your name here? Let us know!
							#addedFull
								| Added to directory: #{item.recorded}
				.standard-links
					a(href='#{item.website}', target='_blank')
						button Web Site
					a(href='#{item.documentation}', target='_blank')
						button Documentation
					a(href='#{item.example}', target='_blank')
						button Example
					a(href='./contribute/update?#{item.name}', target='_blank')
						button Update
- else
	.no-results
	br
	p Should there be a result?
	br
	a(href='./contact')
		button.button.small Contact
	a(href='./contribute/add')
		button.button.small Add Standard
	script.
		var origin = location.origin,
			current = window.location.href,
			search = current.split(origin + "/", 2)[1];
		if (search.indexOf('%20') >= 0) {
			$('.no-results').html('<h2> No search results for: ' + search.split('%20').join(' ') + '</h2>')
		} else {
			$('.no-results').html('<h2> No search results for: ' + search.split('_').join(' ') + '</h2>')
		}
